* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    min-width: 100%;
    height: 100vw;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
    padding: 0px 15vw 0px 15vw;
}

.titel {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.menu {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 20px 0px 100% 0px;
    border-top: solid black 2px;
}

nav a {
    color: darkred;
    padding: 15px 15px 15px 15px;
}

@media screen and (max-width: 850px) {
    body {
        padding: 0;
    }
}

@media screen and (max-width:600px) {
    nav a {
        display: block;
        padding: 5px 5px 5px 5px;
        text-align: left;
    }
}
